<!-- <div class="container">
    <h3 class="text-center diplay-5">UersList</h3>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>fullname</th>
                <th>email</th>
                <th>password</th>
                <th>confirm_password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.confirm_password}}</td>
                <td>
                    <button class="btn btn-warning rounded-5 mx-2" (click)="updateUser(user)">
                        <i class="fas fa-sync-alt"></i> Update
                    </button>
                    <button class="btn btn-danger rounded-5" (click)="deleteUser(user.id)">
                        <i class="fa-solid fa-trash"></i> Delete
                    </button>
                </td> 
            </tr>
        </tbody>
    </table>
</div> -->

