<header>
    <input type= "checkbox" name="" id="check">
    <div class="logo d-flex align-items-center">
        <h1 class="me-2">EatOut</h1> 
        <img src="assets/logo.jpg" class="img-fluid" alt="img" />
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Signup</a></li>
        <li><a href="#">Feedback</a></li>
        
    </ul>
    <div class="menu">
        <label for="check1">
            <i  class="fa fa-bars"></i>
        </label>
    </div>
</header>
